.dashboard-container {
  background-color: #0f172a;
  color: white;
  padding: 30px;
  min-height: 100vh;
}

.summary-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  width: 250px;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card.total { background-color: #1e293b; }
.card.normal { background-color: #065f46; }
.card.attacks { background-color: #7f1d1d; }

.card:hover {
  transform: scale(1.05);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.chart-box {
  width: 400px;
  background-color: #1e293b;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
